body
{
    font-family: tahoma ,Arial, Helvetica, sans-serif;
    background-color: #a09f9f;
    
}
.Styling
{
    margin:40px;
    padding: 30px;

}
ul
{
    width: 100%;
    padding: 10px 15px;
    background-color: #30789a;
    list-style-type: none;
    border-radius: 15px;
}

li
{   
    color: white;
    padding: 20px 30px ;
    text-align: center;
    display:inline-block;
    font-weight: bold;
    cursor: pointer;
    
}
li:hover{
    color:gray;
}



h1
{
    color: #2e5669;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
form
{
    margin: auto;
    border: solid 1px #ccc;
    border-radius: 9px;
    width: 500px;
    height: 420px;
    color: white;
    box-sizing: border-box;
    padding: 10px 65px;
}

form p
{
    margin: 0;
    padding: 0;
    font-family:  'indie flower' ,cursive;

}
form input
{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 18px;
    padding:15px;
    border-radius: 9px;
    border: solid 1px #cccccc;

}
form label
{
    font-size: 20px;
    margin-bottom: 15px;
}
button 
{
    width: 100%;
    color :white ;
    background-color:rgba(49 ,87 ,105, .9) ;
    padding : 15px 15px;
    margin-top: 10px;
    border-radius : 8px ;
    border : 1px solid #ccc ;
    cursor: pointer;
    text-align: center;
}
button:hover
{
    background-color: rgb(35,76, 95);
}

.footer 
{   border-radius: 9px;
    background-color: gray;
    padding:20px;
    text-align: center;
    height: 150px;
    margin: 30px 20px 0 20px;
    font-size: 20px;
    color: white;
}
.footer span
{
    font-family: 'Pacifico';
}

